html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
#calculator, #integersanddisplay, #masterdisplay, #integers, #operators {
}

#calculator {
    height: 96vh;
    width: 98vw;
    margin: auto;
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
}

#integers-and-display {
    height: 96vh;
    width: 65vw;
    display: flex;
    flex-wrap: wrap;
}

#masterdisplay {
    height: 34%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#displaya, #displayb, #displayoperator {
    border:1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
}

#bottomscreen {
    display: flex;
    height: 50%;
}

#displaya, #displayb {
    height: 100%;
    width: 100%;
}

#displayoperator {
    height: 11vh;
    width: 11vh;
    align-self: flex-end;
}

#integers {
    height: 66%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.integer, #backspace, #decimal {
    width: 25%;
    flex-grow: 1;
}

#operators {
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.operator, #equals, #clear {
    height: 33.3%;
    width: 50%;
}